* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;

}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.parent {
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 45px;
  flex-wrap: wrap;
}

/* CARD */

.card {
  height: 350px;
  width: 290px;
  background-color: #fff;
  border-radius: 42px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* TOP */

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}

.top img {
  height: 65px;
  width: 68px;
  object-fit: cover;
  border-radius: 50%;
  border: 1.5px solid #dadada;
  padding: 7px;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 5px 5px;
  font-size: 13px;
  border-radius: 7px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h3{
  font-size: 20px;
  font-weight: 500;
}
.center h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  margin: 20;
  gap: 5px;
}
.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  gap: 30px;
  padding: 4px 8px;
  border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #d1d1d1;
  padding-top: 15px ;
}
.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}